<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Guia Perguntas</title>
</head>

<body> 
    <nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/img/guia.png" alt="">
        </a>
    </nav>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar Pergunta</h3>
            </div>
            <div class="card-body">
                <form>
                    <label for="">titulo</label>
                    <input type="text" placeholder="Titulo" class="form-control">
                    <br>
                    <label for="">Descrição</label>
                    <textarea placeholder="Descreva sua pergunta" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-success">perguntar</button>
                </form>
            </div>
        </div>

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</html>